<h1>All Teams</h1>
<%= link_to "Create a Team", new_user_team_path(@current_user.id) %>

<% @teams.each do |team| %>
<%= team.name %>
<%= team.description %>
<%= link_to "Edit #{team.name} team", edit_team_path(team) %>
<% end %>
